<template name="footer">
	<div id="footer">
		<div class="footer_inner">
			<a class="active" href="/home"><div class="logo_footer {{active_home}}"></div></a>
			<div class="footer_nav">
				<ul>
					<a class="active" href="/home"><li class="about {{active_home}}">About</li></a>
					<a class="active" href="/home"><li class="Tutorials {{active_home}}">Tutorials</li></a>
					<a class="active" href="/home"><li class="Community {{active_home}}">Community</li></a>
					<a class="active" href="/home"><li class="Idea Box {{active_home}}">Idea Box</li></a>
					<a class="active" href="/home"><li class="Updates {{active_home}}">Updates</li></a>
					<a class="active" href="/home"><li class="Samples {{active_home}}">Samples</li></a>
				</ul>
			</div>
		</div>
	</div>
</template>