<template name="grid_row">
	<div class="grid_list">
		<ul class="grid_row">
			<li class="one">
				<h1>Document Title</h1>
				<img src="../../images/grid_pic.png" width="299" height="191" alt="Grid Pic">
				<div class="tags">
					<ul class="tag_line">
						<li class="tag_icon"><img src="../../images/tag.png" width="15" height="13" alt="Tag">Tags:</li>
						<li class="tag_link"><a href="/">Science,</a></li>
						<li class="tag_link"><a href="/">Biology,</a></li>
						<li class="tag_link"><a href="/">Animals,</a></li>
						<li class="tag_link"><a href="/">Bats</a></li>
					</ul>
				</div>
			</li>
			<li class="two">
				<h1>Document Title</h1>
				<img src="../../images/grid_pic.png" width="299" height="191" alt="Grid Pic">
				<div class="tags">
					<ul class="tag_line">
						<li class="tag_icon"><img src="../../images/tag.png" width="15" height="13" alt="Tag">Tags:</li>
						<li class="tag_link"><a href="/">Science,</a></li>
						<li class="tag_link"><a href="/">Biology,</a></li>
						<li class="tag_link"><a href="/">Animals,</a></li>
						<li class="tag_link"><a href="/">Bats</a></li>
					</ul>
				</div>
			</li>
			<li class="three">
				<h1>Document Title</h1>
				<img src="../../images/grid_pic.png" width="299" height="191" alt="Grid Pic">
				<div class="tags">
					<ul class="tag_line">
						<li class="tag_icon"><img src="../../images/tag.png" width="15" height="13" alt="Tag">Tags:</li>
						<li class="tag_link"><a href="/">Science,</a></li>
						<li class="tag_link"><a href="/">Biology,</a></li>
						<li class="tag_link"><a href="/">Animals,</a></li>
						<li class="tag_link"><a href="/">Bats</a></li>
					</ul>
				</div>
			</li>
			<li class="four">
				<h1>Document Title</h1>
				<img src="../../images/grid_pic.png" width="299" height="191" alt="Grid Pic">
				<div class="tags">
					<ul class="tag_line">
						<li class="tag_icon"><img src="../../images/tag.png" width="15" height="13" alt="Tag">Tags:</li>
						<li class="tag_link"><a href="/">Science,</a></li>
						<li class="tag_link"><a href="/">Biology,</a></li>
						<li class="tag_link"><a href="/">Animals,</a></li>
						<li class="tag_link"><a href="/">Bats</a></li>
					</ul>
				</div>
			</li>
			<li class="five">
				<h1>Document Title</h1>
				<img src="../../images/grid_pic.png" width="299" height="191" alt="Grid Pic">
				<div class="tags">
					<ul class="tag_line">
						<li class="tag_icon"><img src="../../images/tag.png" width="15" height="13" alt="Tag">Tags:</li>
						<li class="tag_link"><a href="/">Science,</a></li>
						<li class="tag_link"><a href="/">Biology,</a></li>
						<li class="tag_link"><a href="/">Animals,</a></li>
						<li class="tag_link"><a href="/">Bats</a></li>
					</ul>
				</div>
			</li>
			<li class="six">
				<h1>Document Title</h1>
				<img src="../../images/grid_pic.png" width="299" height="191" alt="Grid Pic">
				<div class="tags">
					<ul class="tag_line">
						<li class="tag_icon"><img src="../../images/tag.png" width="15" height="13" alt="Tag">Tags:</li>
						<li class="tag_link"><a href="/">Science,</a></li>
						<li class="tag_link"><a href="/">Biology,</a></li>
						<li class="tag_link"><a href="/">Animals,</a></li>
						<li class="tag_link"><a href="/">Bats</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</template>