<template name="header">
	<div id="header">
		<div class="header_inner">
			<a class="active" href="/home"><div class="logo {{active_home}}"></div></a>
			<div class="nav">
				<ul>
					<a class="active" href="/home"><li class="about {{active_home}}">About</li></a>
					<a class="active" href="/home"><li class="Tutorials {{active_home}}">Tutorials</li></a>
					<a class="active" href="/home"><li class="Community {{active_home}}">Community</li></a>
					<a class="active" href="/home"><li class="Idea Box {{active_home}}">Idea Box</li></a>
					<a class="active" href="/home"><li class="Updates {{active_home}}">Updates</li></a>
					<a class="active" href="/home"><li class="Samples {{active_home}}">Samples</li></a>
					<a class="active" href="/home"><li class="login {{active_home}}">Log In</li></a>
				</ul>
			</div>
			<div class="signup">Sign Up</div>
		</div>
		
	</div>
</template>