<template name="buttons">
	<div id="buttons">
		<a class="active" href="/docs"><div class="works {{active_docs}}"><p>How it Works</p><img class="w_icon" src="../../images/w_icon.png" width="23" height="23" alt="W Icon"></div></a>
		<div class="link"><img class="l_icon" src="../../images/l_icon.png" width="52" height="52" alt="L Icon"></div>
		<a class="active" href="/docs"><div class="start {{active_docs}}"><p>Get Started</p><img class="s_icon" src="../../images/s_icon.png" width="23" height="23" alt="S Icon"></div></a>
	</div>
</template>