#footer {

width: 100%;
height: 76px;
background: url('../../images/footer_bg.png') repeat-x;

}

.footer_inner{
width:1050px;
margin:0 auto;
padding-top: 15px;
}

.logo_footer {
width: 327px;
height:68px;
background: url('../../images/logo_footer.png') no-repeat;
float: left;
margin-top: 10px;
}

.footer_nav {
text-shadow: 0 1px 0 rgba(29,66,89,.4);	
float: right;
margin-top: -5px;
}
.footer_nav ul {
display:inline;	
}
.footer_nav li{
float: left;
margin-right: 30px;
padding-top: 29px;
}
.footer_nav li:hover {
color:#ffe77d;
}